#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header {
  /* background-color: #d09090; */
  /* background-color: rgba(112, 166, 221, 0.7); */
  padding: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}
header .logo {
  color: #e7f1f2;
  font-weight: 800;
  font-size: 20px;
}
nav {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

.nav_link {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

.nav_link:hover {
  color: #5acadc;
}

.nav_link:hover::before {
  transform: scaleX(1);
}

/* Responsive styles */
@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
  }
  header {
    padding: 12px;
  }
  header .logo {
    text-align: center;
    margin-bottom: 4px;
  }
  nav li {
    display: block;
    margin: 0;
    text-align: center;
    padding-bottom: 4px;
  }
}

table{
  width: 100%;
}

